/vendor/
/.env
/storage/jobs/*
!/storage/jobs/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/storage/backgrounds/*
!/storage/backgrounds/.gitkeep
!/storage/backgrounds/README.md
/python/venv/
/python/tools/
/python/__pycache__/
/python/**/__pycache__/
*.pyc
composer.lock
.DS_Store
Thumbs.db
